<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/create-template.min.css">
<body>
    <%- include('../partials/nav') %>

    <main>
        <div class="container">
            <h1>Create New Template</h1>
            <div id="CreateComponent"></div>
        </div>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>