<input type="hidden" id="tid" value="<%= id %>">

<section>
    <a href="/admin/view-templates" class="mb-3 d-block">Go Back</a>
    <h1 class="mb-4">Update Template</h1>
    <div class="pb-5" id="CreateComponent"></div>
</section>