<% if(typeof alert !== 'undefined') { %>
    <div class="alert <%= alert.type %>">
        <p><%= alert.message %></p>
        <span class="material-icons-outlined">close</span>
    </div>
<% } %>

    