<nav>
    <div class="container">
        <div class="links-group">
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/api">API</a>
        </div>
        <div class="links-group">
            <img src="/public/img/logo.png" alt="">
        </div>
    </div>
</nav>