.TemplateComponent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 50vh;

    .body {
        padding: 2rem 0;
    }
}


@media only screen and(max-width: 465px) {
    .TemplateComponent {
        .body {
            h2 {
                font-size: 2rem;
            }

            button {
                padding: 1.2rem;
            }
        }
    }
}