<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css">
<body>
    <%- include('../partials/nav') %>

    <main>
        <section>
            <h1>Contact</h1>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>