<div class="d-flex h-100 flex-lg-row flex-column px-5 px-lg-0">
    <section class="w-100 d-flex flex-column form-c align-items-center justify-content-center">
        <header class="text-center">
            <h1 class="display-3">Talk To An Expert</h1>
            <p class="text-muted m-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, blanditiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, inventore.</p>
        </header>
    
        <form>
            <div class="form-group mb-4">
                <label for="" class="form-label">Name of your business</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group mb-4">
                <label for="" class="form-label">Brief description of your business</label>
                <textarea type="text" class="form-control"></textarea>
            </div>
            <div class="form-group mb-4">
                <label for="" class="form-label">Social media links</label>
                <input type="text" class="form-control">
            </div>
            <div class="d-lg-flex">
                <div class="form-group w-100 me-lg-2">
                    <label for="" class="form-label">Email Address</label>
                    <div class="input-group mb-4 w-100">
                        <span class="input-group-text material-icons-outlined skiptranslate fs-4">mail</span>
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group w-100 ms-lg-2">
                    <label for="" class="form-label">Phone Number</label>
                    <div class="input-group mb-4 w-100">
                        <span class="input-group-text material-icons-outlined skiptranslate fs-4">phone_iphone</span>
                        <input type="tel" class="form-control">
                    </div>
                </div>
            </div>
    
            <button class="btn btn-primary ms-auto d-block">Schedule Meeting</button>
        </form>
    </section>
    <div class="vid">
        <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
            <source src="/public/img/includes/pexels-anastasia-shuraeva-7540241.mp4" type="video/mp4" />
        </video>
    </div>
</div>

<script>
    let w = document.querySelector('nav').getBoundingClientRect().height;
    document.querySelector('.main').style.paddingTop = w + 'px';
</script>