<div class="m-auto">
    <h1 class="display-3">Before you continue...</h1>

    <form method="POST" action="/talk-to-an-expert/exit">
        <div class="shadow-sm p-3 bg-white mb-3">
            <input class="form-check-input" type="checkbox" value="domain" name="domain" id="domain-checkbox">
            <label class="form-check-label ms-3" for="domain-checkbox">
                I have a domain
            </label>
        </div>
        <div class="shadow-sm p-3 bg-white">
            <input class="form-check-input" type="checkbox" value="logo" name="logo" id="logo-checkbox">
            <label class="form-check-label ms-3" for="logo-checkbox">
                I have a logo
            </label>
        </div>
        <button class="btn btn-primary mt-3">Continue</button>
    </form>
</div>