<% 
const cards = [
    {
        title: 'Business Websites',
        href: '/set-tag?tag=business',
        img: '/public/img/placeholder1.png'
    },
    {
        title: 'Fitness & Health Websites',
        href: '/set-tag?tag=fitness',
        img: '/public/img/placeholder3.png'
    },
    {
        title: 'Portfolio Websites',
        href: '/set-tag?tag=portfolio',
        img: '/public/img/placeholder2.png'
    }
]
%>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Lorem ipsum dolor sit amet.</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Assumenda minus porro quibusdam at dignissimos maxime!
                    </p>
                    <div class="d-flex flex-column flex-lg-row align-items-center">
                        <a class="me-lg-3 mb-4 mb-lg-0 btn btn-dark btn-lg" href="/pick-tag">Build A Website</a>
                        <a href="#!" class="btn btn-outline-dark btn-lg">Build A Logo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="masthead-device-mockup">
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/public/img/includes/pexels-dziana-hasanbekava-5905296.mp4" type="video/mp4" />
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<aside class="text-center bg-dark">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <img class="mb-4" src="/public/img/logo.svg" alt="..."   />
                <div class="h2 fs-1 text-white mb-4">
                    "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam, facilis."
                </div>
            </div>
        </div>
    </div> 
</aside>

<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <span class="material-icons-outlined skiptranslate fs-1 text-muted">support_agent</span>
                                <h3 class="font-alt">Quality Support</h3>
                                <p class="text-muted mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quisquam.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <span class="material-icons-outlined skiptranslate fs-1 text-muted">speed</span>
                                <h3 class="font-alt">Fantastic Speed</h3>
                                <p class="text-muted mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quisquam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <span class="material-icons-outlined skiptranslate fs-1 text-muted">security</span>
                                <h3 class="font-alt">Super Secure</h3>
                                <p class="text-muted mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quisquam.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <span class="material-icons-outlined skiptranslate fs-1 text-muted">widgets</span>
                                <h3 class="font-alt">Highly Customizable</h3>
                                <p class="text-muted mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quisquam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <div class="features-device-mockup">
                    <div class="device-wrapper">
                        <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                            <div class="screen bg-black">
                                <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%">
                                    <source src="/public/img/includes/pexels-dziana-hasanbekava-5905296.mp4" type="video/mp4" /></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
                Stop waiting.
                <br />
                Start building.
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="/pick-tag"
                target="_blank">Build A Website Now</a>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4">Lorem ipsum dolor sit consectetur.</h2>
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, 
                    provident quidem? Voluptatibus debitis, in illum voluptate possimus 
                    quaerat id. Quae, minima nihil. Natus, perspiciatis ut!
                </p>
            </div>
            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="/public/img/pexels-dellon-thomas-2997548.jpg" alt="..." /></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="col-12 col-lg-7 col-xl-5 m-auto">
        <div class="container px-5">
            <h2 class="text-center text-white font-alt mb-4">Build Your Dream Now!</h2>
            <p class="mb-4 text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora veniam laboriosam animi assumenda, ipsa at voluptatum cumque voluptates quos culpa.</p>
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <a class="me-lg-3 mb-4 mb-lg-0 btn btn-light btn-lg" href="#!">Build A Website</a>
                <a href="#!" class="btn btn-outline-light btn-lg">Build A Logo</a>
            </div>
        </div>
    </div>
</section>

<hr class="text-white">
