<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/home.min.css">
<body>
    <%- include('../partials/nav') %>

    <main>
        <section class="block">
            <div class="container">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo reprehenderit hic assumenda itaque non excepturi.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos quis laborum nihil itaque adipisci. Ex officiis suscipit laborum repudiandae, illo accusamus. Nihil corporis similique consectetur ea dolores tempora qui. Blanditiis, cum veniam.
                </p>
                <a href="/pick-tag">Build A Website</a>
            </div>
        </section>
        <section class="block">
            <div class="container">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo reprehenderit hic assumenda itaque non excepturi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis esse nihil corrupti et. Optio.
                </p>
                <a href="/pick-logo">Build A Logo</a>
            </div>
        </section>
        <section class="block">
            <div class="container">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo reprehenderit hic assumenda itaque non excepturi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ex itaque. Eos?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, tempora. Nostrum iure impedit sit minus modi non quaerat culpa asperiores nisi.
                </p>
            </div>
        </section>
        <section class="block">
            <div class="container">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo reprehenderit hic assumenda itaque non excepturi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis numquam debitis, fuga impedit molestiae rem minima officiis recusandae perferendis velit dolorem porro. Reprehenderit porro, aut laborum est tempora error, dolore blanditiis culpa deleniti dolorem, perspiciatis mollitia rerum minus. Accusamus quos omnis voluptatem adipisci eligendi! Nobis quia voluptate possimus aliquam dolorum impedit assumenda deleniti? Eaque, laudantium excepturi.
                </p>
            </div>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>