<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/auth.min.css">
<body>
    <%- include('../partials/nav') %>

    <main>
        <section class="container">
            <form>
                <h1>Login</h1>

                <section>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" placeholder="Email"/>
                </section>

                <section>
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" placeholder="Password" />
                </section>

                <p>Don't have an account? <a href="/register">Register</a></p>

                <button>Login</button>
            </form>
        </section>

        <img class="waves" src="/public/img/wave.svg" alt="Waves">
    </main>
</body>
</html>