<style>
    .container.body {
        min-height: 100% !important;
    }
</style>
<section class="container">
    <div id="LoginComponent"></div>
</section>

<script>
    (function() {
        let bg = '/public/img/login-bg.png';
        document.querySelector('.main').style.backgroundImage = `url('${bg}')`
    })();
</script>