<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css" />
<body>
    <%- include('../partials/nav') %>

    <main class="container">
        <a href="/pick-template" class="go-back">Go Back</a>
        <section>
            <h1>Search For A Domain You Like</h1>
            <div id="SearchComponent"></div>
            <div id="ResultsComponent"></div>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>