<section>
    <header class="d-flex justify-content-between align-items-center">
        <a href="/pick-tag">Pick A Tag</a>
        <div id="CurrComponent"></div>
    </header>

    <div id="PickComponent" style="width:100%"></div>
</section>
