<section>
    <header class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1>
                Domain Name Registration
                <p class="lead fs-5">Build your brand on a great domain</p>
            </h1>
        </div>
        <div id="CurrComponent"></div>
    </header>

    <div id="SearchComponent"></div>
    <div id="ResultsComponent"></div>
</section>