<section class="row gx-5 mh-50">
    <div class="col-md-5 text-center">
        <h2 class="text-muted">Pick From Our Templates</h2>
        <p class="my-4">
            Pick one of our super modern and responsive design templates for your website.
            Our experts will help you through the process.
            make sure you have the assets accessible that you wish to put on your site.
        </p>
        <a class="btn btn-primary" href="/pick-template">Pick A Template</a>
    </div>
    <div class="col-md-2 text-center">
        <div class="d-flex flex-column divider">
            <span></span>
            <span>OR</span>
            <span></span>
        </div>
    </div>
    <div class="col-md-5 text-center">
        <h2 class="text-muted">Talk To An Expert</h2>
        <p class="my-4">
            Our designers and developers will guide you through the process of creating your new website. 
            Don't hesitate to contact us if you should have any questions regarding your new website.
        </p>
        <a class="btn btn-success" href="/talk-to-an-expert">Talk To An Expert</a>
    </div>
</section>