<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>'
<link rel="stylesheet" href="/public/css/pick-template.min.css">
<body>
    <%- include('../partials/nav') %>

    <main>
        <div class="container">
            <div id="pick-template"></div>
        </div>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>