<form id="form" method="POST" action="/pick-tag"></form>

<main class="container">
    <section>
        <h1 class="display-3 mb-0">Which type of website will this be? </h1>
        <div class="tags">
            <% tags.forEach(tag => { %>
                <button class="btn btn-primary" type="button" onclick="appendToForm('<%= tag %>')"><%= tag %></button>
            <% }) %>
        </div>
    </section>
</main>