<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css"/>
<style>
    #PickComponent {
        width: 100%;
    }
</style>
<body>
    <%- include('../partials/nav') %>

    <% if(user && user.admin) { %>
        <a class="create-template" href="/admin/create-template">Create Template</a>
    <% } %>

    <main class="container">
        <section>
            <div id="PickComponent"></div>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>