<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css"/>
<style>
    #PickComponent {
        width: 100%;
    }

    section {
        padding: 0 !important;
    }

</style>
<body>
    <%- include('../partials/nav') %>



    <main class="container">
        <section>
            <div id="PickComponent"></div>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>