<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/auth.min.css">
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/alerts') %>

    <main>
        <section class="container">
            <div id="RegisterComponent"></div>
        </section>
        <img class="waves" src="/public/img/wave.svg" alt="Waves">
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>