.images {
    position: relative;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .next,
    .previous {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(99, 99, 99, 0.281);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        cursor: pointer;
        transition: all 400ms ease;
        user-select: none;

        span {
            font-size: 2rem;
        }

        &:hover {
            opacity: 1;
        }
    }

    .next {
        right: 0;
    }

    .previous {
        left: 0;
    }

    img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 400ms ease;
    }
}