@import './components/nav';
@import './colors';
@import './components/alert';
@import './components/footer';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 1rem;
    }
}

body,
html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    top: 0 !important;
}

p {
    line-height: 1.5;
}

main {
    display: flex;
    width: 100%;

    .main {
        flex-grow: 1;
        width: 100%;
        padding: 125px 0 0 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .body {
            min-height: 100vh;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
        }
    }
}

.uploaded-files {
    img {
        cursor: url('/public/img/trash.png'), auto;
    }
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    line-height: 0;
}