@import './layout';
@import './components/nav';
@import './colors';
@import './components/admin-nav';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}

p {
    line-height: 1.5;
}