@import './components/nav';
@import './colors';
@import './components/admin-nav';
@import './components/alert';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
        background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 1rem;
    }
}

body,
html {
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}

p {
    line-height: 1.5;
}

main {
    min-height: 100vh;
}