@import '../colors';

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    span {
        cursor: pointer;
    }
    
    &.error {
        background-color: rgb(245, 194, 194);
    }

    &.success {
        background-color: $primary;
    }
}