.page-footer {
    width: 100%;

    ul {
        color: #fff;
        padding: 0;
        margin: 0;
        list-style: none;

        li,
        a {
            color: #fff;
            text-decoration: none;
        }

        a {
            padding: .3rem 0;
            display: inline-block;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: var(--bs-light);
    }
}