.page-footer {
    width: 100%;
    background-color: #2a2e33 !important;

    hr {
        color: #64686d;
    }

    h3,
    p {
        color: rgb(148, 148, 148);
    }

    ul {
        color: #fff;
        padding: 0;
        margin: 0;
        list-style: none;

        li,
        a {
            color: #fff;
            text-decoration: none;
        }

        a {
            padding: .3rem 0;
            display: inline-block;
        }
    }

    .ff {
        svg {
            width: 24px;
            height: 24px;
            fill: #64686d;
        }
    }
}