@import '../colors';

.toggle-menu,
.sidenav,
.filler {
    transition: all 315ms ease;
}

.toggle-menu {
    z-index: 1032;
    position: fixed;
    margin: 1rem 0 0 1rem;
    left: 0;
    cursor: pointer;

    span {
        font-size: 3rem;
    }

    &.open {
        left: 280px;
    }
}

.sidenav {
    height: 100vh;
    position: fixed;
    width: 0;
    overflow: hidden;
    z-index: 1032;
    pointer-events: none;
    padding: 0 !important;

    ul {
        padding: 1rem;
    }

    .dropdown {
        padding: 1rem;
    }

    #google_translate_element {
        padding: 0 1rem;
    }

    .nav,
    .dropdown,
    .logo,
    #google_translate_element {
        width: 280px;
    }

    &.open {
        width: 280px;
        pointer-events: unset;
    }

    .logo {
        padding: 1rem;

        img {
            width: 90%;
            margin: 0 auto;
        }
    }

    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;

        .nav-link,
        a {
            display: flex;
            align-items: center;
            padding: 1rem;

            .material-icons-outlined {
                margin-right: 1rem;
            }
        }
    }

    #google_translate_element {
        width: 100% !important;

        select {
            font-size: 1rem !important;
        }
    }
}

.filler {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1031;
    pointer-events: none;
    cursor: url('/public/img/close.png'), auto;

    &.open {
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.274);
    }
}