@import '../colors';

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links-group {

            img {
                height: 100px;
            }

            a {
                color: $primary;
                text-transform: uppercase;
                text-decoration: none;
                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
        }
    }
}