main {
    section:first-of-type {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 10rem;

        h1 {
            width: 75%;
            text-align: center;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 65%;

            button {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                display: inline-block;
                text-decoration: none;
                padding: 3rem;
                margin: 1rem;
                color: rgb(114, 114, 114);
                transition: all 215ms ease;
                font-size: 1.7rem;
                border: none;
                background-color: #fff;
                cursor: pointer;
                flex-grow: .55;

                &:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                }
            }
        }
    }
}


@media only screen and(max-width: 850px) {
    main {

        section:first-of-type {
            padding-top: 0;

            .tags {
                width: 75%;
            }
        }
    }
}

@media only screen and(max-width: 735px) {
    main {
        section:first-of-type {
            h1 {
                text-align: center;
                font-size: 2.5rem;
            }

            .tags {
                width: 90%;
            }
        }
    }
}


@media only screen and(max-width: 500px) {
    main {
        padding-top: 100px;
        display: block;

        section:first-of-type {
            h1 {
                font-size: 2.2rem;
                width: 90%;
                margin: 3rem auto 1.5rem auto;
            }

            .tags {
                width: 95%;
                flex-direction: column;
                margin: 0 auto;

                a {
                    text-align: center;
                    display: block;
                }
            }
        }
    }
}