.SearchComponent {
    background-color: #fff;
    margin-bottom: 2.5rem;

    p {
        color: crimson;
        margin: 8px 0 0 8px;
    }

    form {
        display: flex;

        &:focus-within {
            input {
                border-color: var(--accent);
            }

            button {
                border-color: transparent;
            }
        }

        input {
            flex-grow: 1;
            padding: 1rem;
            border: 1px solid rgb(219, 219, 219);
            outline: none;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-right: none;
            transition: all 215ms ease;
        }

        button {
            border: 1px solid rgb(219, 219, 219);
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 1rem;
            cursor: pointer;
            transition: all 215ms ease;
            width: 5rem;
            background-color: var(--primary);
            color: var(--white);
            border-left: none;

            &:disabled {
                width: 5rem !important;
                opacity: .5;
                cursor: not-allowed;
            }

            &:hover {
                width: 13rem;
            }
        }
    }
}