.PickComponent {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;

    form {
        width: 0;
        height: 0;
        position: absolute;
        line-height: 0;
        left: 0;
        top: 0;
        overflow: hidden;
        opacity: 0;
        visibility: 0;
    }

    .templates {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        width: 100%;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}

@media only screen and(max-width: 1500px) {
    .PickComponent {
        .templates {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and(max-width: 1024px) {
    .PickComponent {
        padding: 2rem 0;

        .templates {
            grid-template-columns: 1fr;
        }
    }
}