main {
    section:first-of-type {
        .missing-data {
            display: flex;

            a {
                background-color: var(--white);
                border: 1px solid var(--accent);
                color: var(--text);
                padding: 1rem;
                text-decoration: none;
                border-radius: 1rem;

                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
        }
    }

    form {

        section {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            background-color: rgb(255, 255, 255);
            border-radius: .5rem;
            margin: 2rem 0;
            padding: 0 !important;

            ul {
                padding: 0;
                list-style: none;
                margin: 0;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem;

                    &.col {
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                    }

                    label {
                        margin-bottom: 17px;
                    }

                    input {
                        width: 100%;
                    }

                    &:not(:last-of-type) {
                        border-bottom: 1px solid rgb(233, 233, 233);
                    }

                    h3,
                    p {
                        margin: 0;
                        color: rgb(82, 82, 82);
                    }

                    h3 {
                        font-size: 1.6rem;

                        span {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }

    .form-group {

        h3,
        p {
            margin: 0;
        }
    }

    .form-footer {
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        padding: 1rem;
        background: var(--accent);
        color: var(--white);
        border-radius: 1rem;
        border: none;
        cursor: pointer;

        &:first-of-type {
            margin-right: 1rem;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: .7;

            &:hover {
                opacity: .7;
            }
        }

        &:hover {
            opacity: .81;
        }
    }
}