main {
    .go-back {
        display: flex;
        align-items: center;
        margin-top: 4rem;
        text-decoration: none;

        &::before {
            font-family: 'Material Icons Outlined';
            content: '\e5cb';
            margin-right: .5rem;
        }
    }

    .layout {
        padding: 30px 0;

        h1 {
            color: rgb(114, 114, 114);
            font-size: 3rem;
        }
    }
}