.container.body,
.main {
    padding: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.container.body {
    height: 100%;
    padding: 0 !important;
}

header {
    p {
        max-width: 50ch;
    }
}

.vid {
    background-color: red;
    width: 100%;
    position: relative;

    video {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        object-fit: cover;
    }
}

form {
    margin: 0 auto;
    width: 100%;
}


@media (max-width: 992px) {
    .form-c {
        margin-top: 5rem;

        header {
            margin-bottom: 3rem;
        }
    }
}

@media (min-width: 992px) {
    form {
        max-width: 500px;
    }
}