.container.pick-hosting {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

table {
    .large {
        width: 34%;
    }

    td,
    th {
        width: 22%;
    }

    * {
        vertical-align: middle;
    }
}

.example-logos {
    gap: 1rem;

    img {
        padding: 1rem;
        object-fit: contain;
        flex-grow: 1;
    }
}