table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;

    tbody {
        font-size: .9rem;

        tr {
            cursor: pointer;

            &:hover {
                background-color: rgb(245, 245, 245);
            }
        }
    }

    th,
    td {
        padding: 1rem;
        border-bottom: 1px solid rgb(218, 218, 218);
    }
}