@import '../colors';

main {
    .filter {
        display: flex;
        flex-wrap: wrap;
        span {
            display: inline-block;
            padding: 1rem;
            border-radius: 1rem;
            color: $white;
            transition: all 220ms ease-out;
            cursor: pointer;
            margin-bottom: 1.5rem;

            &:hover {
                transform: scale(.9)
            }

            &:nth-child(odd) {
                background-color: $primary;
            }

            &:nth-child(even) {
                background-color: $accent;
            }

            &:not(:last-of-type) {
                margin-right: 1.5rem;
            }
        }
    }

    .templates {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 300px;
        gap: 2rem;
        
        .template {
            background-color: rgb(230, 230, 230);
            border-radius: .5rem;
        }
    }
}