<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/account.min.css">
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/alerts') %>
    <main>
        <div class="container">
            <h1>Account</h1>
        </div>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>