#hire-component {
    header {
        margin-bottom: 2.25rem;
    }

    p {
        max-width: 55ch;
        font-weight: 600;
        font-size: .92rem;
        letter-spacing: 1.2px;
        color: rgb(83, 83, 83);
    }
}