.CreateComponent {
    position: relative;

    form {
        section {
            padding: 0;

            textarea {
                height: 200px;
            }
        }

        hr {
            color: #b6b6b6;
        }

        .uploader {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px dashed rgb(206, 212, 218);
            padding: 2rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

            &.active,
            &:hover {
                color: #212529;
                background-color: #fff;
                border-color: #86b7fe;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
                cursor: pointer;
            }
        }
    }

    .spinner {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border: 7.5px solid rgb(78, 78, 240);
        border-top: 7.5px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;

    }

    #upload {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: 0;
        pointer-events: none;
    }

    .uploaded-files {
        img {
            border: 3px solid transparent;
            transition: all 215ms ease;

            &:hover {
                border-color: crimson;
                opacity: .65;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}